@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Instrument+Serif:ital@0;1&display=swap');
@import 'tailwindcss';

html,
body {
  background-color: #f9f8f2;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
